@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:700&display=swap');

// General

* {
  box-sizing: border-box;
  font-family: 'Chandas', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

a:hover {
  text-decoration: none !important;
}

.notification {
  position: absolute;
  width: 100%;
  font-size: 2vh;
  ul {
    margin: 1vh;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 1;
  position: relative;
}

#wrapper:target {
  animation-name: shrink;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes shrink {
  100% {
    // transform: scale(0.9);
    left: 75vw;
  }
}

.top-bar {
  background: linear-gradient(to bottom, #3875c2, #2d609d);
  display: flex !important;
  flex-direction: row;
  height: 7vh;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 2.5vw;
  font-size: 3vh;
  a {
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  h1 {
    margin-bottom: -1.4vh;
    font-size: 3vh;
  }
  div {
    color: transparent;
  }
}

main {
  flex: 1;
  overflow-y: auto;
  background-color: #f1f3f2;
}

// Log in and sign up page

.login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #f1f3f2;
}

.logo {
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 7vh;
  color: #434b54;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  input[type=submit] {
    padding: 2vh 0;
  }

  input[type=text] {
    padding: 0 2vw;
    &:focus {
      outline: none;
    }
  }
}

.login-form > * {
  font-size: 2.5vh;
  height: 7vh;
}

.btn-primary {
  border: none;
  border-radius: 2px;
}

.sign-up-btn {
  background: transparent;
  border: none;
  color: #434b54;
}

// User Menu

.user-menu {
  position: absolute;
  z-index: 0;
  background: linear-gradient(to bottom left, #1e3763, #2a6fa4);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #ffffffb5;
  font-size: 2vh;
  nav {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: 15vw;
    a:last-child {
      border: none;
    }
  }
  nav > * {
    color: #ffffffb5;
    border-bottom: #ffffff54 solid;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    &:hover {
      color: #ffffffb5;
      text-decoration: none;
    }
  }
}

.user-name {
  flex: 1;
  span {
    position: relative;
    top: 25vh;
    left: 25vw;
  }
}

// Index template

.sum {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5vw;
  border-bottom: solid #f1f3f2;
  background: white;
}

.name {
  font-weight: bold;
  color: #989da2;
  font-size: 1.9vh;
}

.date {
  color: #989da2;
  font-size: 1.4vh;
}

.amount {
  font-size: 2vh;
  font-weight: bold;
  color: #434b54;
}

.icon {
  text-align: center;
  font-size: 2vh;
  color: #434b54;
}

.transaction {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 95vw;
  margin: 2vh auto;
  padding: 1.2vh 2vw;
  background: white;
}

.line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.outer-square {
  height: 14vh;
  background-color: #5fb523;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-square {
  border: solid white;
  font-size: 5vw;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  height: 10vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-focus {
  display: flex;
  align-items: center;
  span {
    font-size: 5vh;
  }
}

// Forms

.form {
  display: flex;
  flex-direction: column;
  margin: 4vh 0;
  border-top: solid #eaeaea7d;
  border-bottom: solid #eaeaea7d;
  background: white;
}

.form > * {
  border: none;
  background: white;
  color: #767676;
  height: 10vh;
  border-bottom: solid #eaeaea7d;
  font-size: 2vh;
  margin-left: 5vw;
  &:hover {
    outline: none;
  }
}

.formless-btn {
  border: none;
  background: transparent;
  color: white;
  font-size: 2vh;
  margin-bottom: -1vh;
}

.dropdown-icon {
  font-family: FontAwesome;
  font-style: normal;
}