.form {
  display: flex;
  flex-direction: column;
  margin: 4vh 0;
  border-top: solid #eaeaea7d;
  border-bottom: solid #eaeaea7d;
  background: white;
}

.form > * {
  border: none;
  background: white;
  color: #767676;
  height: 10vh;
  border-bottom: solid #eaeaea7d;
  font-size: 2vh;
  margin-left: 5vw;
  &:hover {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.formless-btn {
  border: none;
  background: transparent;
  color: white;
  font-size: 2vh;
  margin-bottom: -1vh;
  &:focus {
    outline: none;
  }
}

.dropdown-icon {
  font-family: FontAwesome;
  font-style: normal;
  option {
    font-family: FontAwesome;
  }
}